<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.httpfileupload.HttpFileUploadPlugin</class>
    <name>HTTP File Upload</name>
    <description>Allows clients to share files, as described in the XEP-0363 'HTTP File Upload' specification.</description>
    <author>Guus der Kinderen</author>
    <version>${project.version}</version>
    <date>2024-11-19</date>
    <minServerVersion>4.7.0</minServerVersion>
    <priorToServerVersion>5.0.0</priorToServerVersion>
    <minJavaVersion>1.8</minJavaVersion>
    <csrfProtectionEnabled>true</csrfProtectionEnabled>
    
    <adminconsole>
      <tab id="tab-server">
        <sidebar id="sidebar-server-settings">
          <!-- Note that the item id here is the used as the page id in the jsp-->
          <item  id="httpfileupload-settings" name="${httpfileupload.sidebar.settings}"
            url="httpfileupload-settings.jsp"
            description="${httpfileupload.sidebar.settings.desc}">
          </item>
        </sidebar>
      </tab>
    </adminconsole>
    
</plugin>
